.header2{
    width: 100%;
    background: #f9f5e7;
    height: 70vh;
    position: relative;
}
.header2::before{
    content: "";
    background: url("https://media.istockphoto.com/id/1172811422/photo/golden-orange-colored-blurred-background-abstract-blur-glowing-orange-gold-of-morning-sky.jpg?s=612x612&w=0&k=20&c=PdoJ--LEjp-tZ99DWOio-WdmQEc2JwlLXEaD_eOEMcM=");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.4;
}


.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;       /*no change */
}
.header2 h1{
    font-size: 2rem;
}
.header2 p{
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width:640px){
    .header2 h1{
        font-size: 2rem;
    }
}